extends ../layout
block content
	div(class="w3-content w3-auto Milford")
		h4 EDITOR
		div(class="w3-section")
			a(class="w3-btn theme-link w3-padding w3-margin" href="/editor/ras") EDIT RAS PAGE
		h4 ADMIN
		div(class="w3-section")
			a(class="w3-btn theme-link w3-padding w3-margin" href="/user/create") CREATE USER
			a(class="w3-btn theme-link w3-padding w3-margin" href="/user/manage") MANAGE USERS
			