extends ../layout
block content
	h2(class="Milford") LOG IN
	p
	div(class="w3-content Milford")
		form(method="post" action="/user/login")
			div(class="w3-container w3-padding")
				div(class="w3-quarter w3-label theme-inline-padding")
					label USERNAME 
				div(class="w3-half")
					input(type="text" name="username" class="w3-input theme-inline-padding w3-no-border")
			div(class="w3-container w3-padding")
				div(class="w3-quarter w3-label theme-inline-padding")
					label PASSWORD 
				div(class="w3-half")
					input(type="password" name="password" class="w3-input theme-inline-padding w3-no-border")
			div(class="w3-container w3-padding")
				input(class="w3-btn theme-submit" type="submit" value="SUBMIT")